#app {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
.router-link-exact-active {
  font-weight: 700;
  color: green;
}

.card-product {
  border-radius: 20px;
}
.card-img-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.breadcrumb {
  background-color: transparent;
  padding: 0;
}

.breadcrumb-item.active {
  font-weight: bold;
  color: black;
}
h2.hero-text strong {
  font-size: 38px;
  color: green;
}
